nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 8vh;
  background-color: black;
}

.nav-links {
  position: absolute;
  right: 0px;
  height: 92vh;
  top: 8vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
}
.nav-links a:hover {
  color: rgb(49, 44, 44);
}

.burger {
  display: inline-block;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
