:root {
  --black: #141414;
  --white: #f3f3f3;
  --red: #3d1519;
}
/* Toggle switch */
.switch {
  position: absolute;
  display: inline-block;
  z-index: 3;
  top: 50px;
  right: 0px;
  width: 34px;
  height: 19px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0d8a8a;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: -7px;
  bottom: 0;
  background-color: var(--white);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #ccc;
}
// input:focus + .slider {
//   box-shadow: 0 0 1px #0d8a8a;
// }
input:checked + .slider:before {
  //   -webkit-transform: translateX(26px);
  //   -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 10px;
}
.slider.round:before {
  border-radius: 10px;
}
.white-btn {
  color: var(--white);
  border: 1px solid var(--white);
}
.poo {
  background-color: violet;
  color: #0d8a8a;
}
.white-text {
  color: var(--white);
  fill: var(--white);
}
.bg-black {
  background-color: var(--black);
}
.bg-white {
  background-color: var(--white);
}
.hidden {
  display: none;
}
