@media (min-width: 320px) {
  /* phones */
  .merch-tour {
    width: 100vw;

    img {
      object-fit: cover;
      height: 50vh;
    }
  }
}

@media screen and (min-width: 768px) {
  /* tablets */
  .nav-links {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 10vh;
  }

  .background img {
    height: 100%;
    width: 100%;
  }

  .logo {
    top: 113px;
    left: 106px;
  }

  .title-phrase {
    top: 248px !important;
    left: 106px !important;

    .title {
      font-size: 64px !important;
    }

    .btn-container {
      align-items: flex-start !important;
      width: 185px;

      .sign-up-btn {
        left: 0px;
        margin-bottom: 32px;
      }

      p {
        text-align: start !important;
      }
    }
  }

  .switch {
    top: 680px !important;
    right: 4px;
  }

  .footer-links {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
  }
  .company-language {
    flex-direction: row;
  }

}

// ----------------------------------------------------------------

/* NAVBAR KEYFRAMES */
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

// Navbar animation
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
  background-color: var(--white);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
  background-color: var(--white);
}
