@media (min-width: 320px) {
  /* phones */
  .merch-tour {
    width: 100vw;

    img {
      object-fit: cover;
      height: 50vh;
    }
  }
}

@media screen and (min-width: 768px) {
  /* tablets */
  .nav-links {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 10vh;
  }

  .footer-links {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
  }
  .company-language {
    flex-direction: row;
  }

  .background img {
    height: 100%;
    width: 100%;
  }
}

@media screen and (min-width: 1050px) {
  .merch-tour {
    flex-direction: row;
    .item {
      margin: 0;
      position: relative;
    }
    img {
      object-fit: cover;
      width: 50vw;
      height: 100vh;
    }
  }
}

// ----------------------------------------------------------------

/* NAVBAR KEYFRAMES */
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

// Navbar animation
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
  background-color: var(--white);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
  background-color: var(--white);
}
