nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 30px;
  background-color: rgba(255, 255, 255);
  position: fixed;
  right: 0;
  z-index: 99;
  top: 4px;

  &:hover {
    background-color: rgb(250, 250, 250);
  }
}

.nav-links {
  position: absolute;
  right: 0px;
  height: 92vh;
  top: 0vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 80px;
  // width: 40%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;

  li {
    list-style: none;
  }

  a {
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
  }

  a:hover {
    color: rgb(201, 34, 34);
  }
}

.burger {
  display: inline-block;

  div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
}
