nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 30px;
  background-color: transparent;
  position: fixed;
  right: 0;
  z-index: 99;
  top: 4px;

  &:hover {
    background-color: var(--white);
  }
}
.nav-links {
  position: absolute;
  right: 0px;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in;

  li {
    list-style: none;
  }

  a {
    color: var(--white);
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 1.5rem;
  }

  a:hover {
    color: var(--red);
  }
}

.burger {
  display: inline-block;
  margin-top: 4px;
  div {
    width: 25px;
    height: 3px;
    background-color: var(--black);
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
}
