@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;400;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

body {
  overflow-x: hidden;
}

.scroll-header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

.progress-container {
  width: 100%;
  height: 4px;
  background: #ccc;
}

.progress-bar {
  height: 4px;
  background: #f38b46;
  width: 0%;
}

.hero-section {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1503376780353-7e6692767b70?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2940&q=80");
  background-size: cover;
  display: block;
}

.title-phrase {
  display: block;
  position: absolute;
  top: 50%;
  left: 5%;
  color: white;

  .title {
    margin-bottom: 25px;
    font-size: 4rem;
  }

  .phrase {
    font-size: 2rem;
  }
}
.title-section {
  position: relative;

  img {
    height: 700px;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
  }
}
.section-text {
  position: absolute;
  color: white;
  margin: 10% 10%;
  top: 30%;

  h3 {
    font-size: 3rem;
  }
  h4 {
    font-weight: lighter;
  }
}
.tec-description {
  position: relative;

  img {
    height: 700px;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
  }
}
.tec-text {
  position: absolute;
  color: rgb(139, 59, 59);
  margin: 10% 10%;
  top: 30%;

  h3 {
    font-size: 3rem;
  }
  h4 {
    font-weight: lighter;
  }
}


