@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-color: var(--white);
  color: var(--black);
}
.scroll-header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background-color: var(--white);
  .progress-container {
    width: 100%;
    height: 4px;
    background: var(--white);
    .progress-bar {
      height: 4px;
      background: #ff512f;
      background: -webkit-linear-gradient(to right, #dd2476, #ff512f);
      background: linear-gradient(to right, #dd2476, #ff512f);
      width: 0%;
    }
  }
}

.hero-section {
  height: 100vh;
  display: block;
  background-color: var(--white);

  picture img {
    height: 100vh;
    max-width: 100vw;
  }

  .background {
    position: absolute;
    z-index: 0;
    transition: 3s;
  }
  .hidden-car {
    position: absolute;
    left: 0;
  }

  .logo {
    position: absolute;
    top: 38px;
    width: 200px;
    left: 93px;
  }

  .title-phrase {
    display: block;
    position: absolute;
    width: 350px;
    top: 50%;
    left: 5%;
    color: var(--black);

    .title {
      margin-bottom: 16px;
      font-size: 4rem;
      font-family: "Raleway", sans-serif;
    }

    .phrase {
      font-size: 1.3rem;
    }

    .btn-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 16px;

      p {
        text-align: center;
        font-size: 0.8;
      }
    }
  }
}

.sign-up-btn {
  display: block;
  height: 60px;
  width: 130px;
  padding: 3px;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  border: var(--black) solid 2px;
  color: var(--black);
  background: transparent;
  padding-top: 15px;
}

.title-section {
  position: relative;
  margin: 0px;

  .background img {
    height: 686px;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    display: block;
  }

  .section-text {
    position: absolute;
    color: var(--black);
    top: 2%;
    // display: flex;
    // flex-direction: column;
    // text-align: center;

    h2 {
      font-size: 4rem;
      font-family: "Raleway", sans-serif;
      text-align: center;
      // width: 100vw;
    }

    h3:nth-child(3) {
      color: var(--white);
    }
  }
}

// .smoove-quote {
//   margin: 48px 16px;
//   font-size: 16px;
// }

.tech-section {
  position: relative;
  margin: 0;

  h2 {
    margin-left: 16px;
    margin-top: 65px;
    font-size: 3rem;
    font-family: "Raleway", sans-serif;
  }

  h3 {
    margin-left: 16px;
    font-size: 2.3rem;
    font-family: "Raleway", sans-serif;
    padding-bottom: 16px;
  }

  ul {
    padding-inline-start: 16px;
    li {
      list-style: none;
      margin-left: 0px;
    }
  }
  p {
    margin-left: 16px;
    padding-bottom: 16px;
  }
  .grid-item1 img {
    height: 687px;
    width: 100%;
    object-fit: cover;
    transition: all 1.2s ease-in-out;
  }

  .grid-item1 img:hover {
    transform: scale(1.2) translateX(100px);
  }

  .grid-item2 img {
    width: 100%;
    object-fit: cover;
    transition: all 1.2s ease-in-out;
  }

  .grid-item2 img:hover {
    transform: scale(1.2) translateX(-100px);
  }
}
// Merch och tour section
.member-section {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  margin-top: 146px;

  .member {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    h3 {
      font-size: 3rem;
      margin-top: 0px;
      margin-bottom: 16px;
      color: var(--black);
      font-family: "Raleway", sans-serif;
    }

    .newsletter-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      input {
        margin-top: 24px;
        margin-bottom: 24px;
        background-color: var(--white);
        height: 3rem;
        font-size: 1.3rem;
        width: 80%;
        color: var(--black);
        border: 1px solid var(--black);
      }

      button {
        margin-bottom: 64px;
        height: 60px;
        width: 130px;
        font-size: 1.2rem;
        border: var(--black) solid 2px;
        background: transparent;
        color: var(--black);
      }

      button:hover {
        background: var(--black);
        color: var(--white);
      }
    }
  }
}

.footer {
  background-color: var(--black);
  padding: 3%;
  padding-top: 8%;

  .footer-svg {
    display: flex;
    justify-content: center;
  }
  svg {
    height: 30px;
    color: var(--white);
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 2%;
    text-align: center;
  }
  .link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
  }
  .ligth-link {
    font-weight: lighter;
    font-size: 1rem;
  }
  .bold-link {
    font-size: 1rem;
  }

  a {
    text-decoration: none;
    color: var(--white);
    display: block;
    font-size: 0.8rem;
  }
  .company-language {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

    p {
      color: var(--white);
      font-size: 1rem;
    }
    img {
      height: 20px;
    }
    .company-items {
      text-align: center;
      margin-bottom: 3%;
    }
    .car-club {
      display: flex;
      align-items: center;
    }
  }
}
